
.dice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    background: var(--light-dice-clr);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
    font-size: 1.28rem;
}

.dice:hover {
    cursor: pointer;
}
.selected {
    background: VAR(--light-dice-selected-clr);
}