.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 379px;
  background: var(--light-dark-bg-clr);
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 320px;
  width: 320px;
  content: "";
  background: var(--light-light-bg-clr);
  border-radius: 10px;
  padding: 1.8em 0;
}

.text {
  text-align: center;
  padding: 0 2.72em
}

h1 {
  margin: 0;
  font-size: 1.6rem;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 0.82rem;
  margin-top: 0;
}

button {
  background: var(--light-btn);
  box-shadow: 0px 3.2px 5.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  border: none;
  width: 92.16px;
  height: 35.84px;
  color: var(--light-light-bg-clr);
  font-family: 'Karla', sans-serif;
  margin-top: 2em;
  cursor: pointer;
}

button:active {
  box-shadow: none;
  color: var(--light-dark-bg-clr);
}


.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 1em;
}
