* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

:root {
  /* light Mode Colors */
  --light-dark-bg-clr: #0B2434;
  --light-light-bg-clr: #F5F5F5;
  --light-dice-clr: #FFFFFF;
  --light-dice-selected-clr: #59E391;
  --light-btn: #5035FF;
  --light-font-clr: #2B283A;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  color: var(--light-font-clr);
}



